<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/logo.png" type="image/png">
    <link rel="stylesheet" href="/style/style.css">
    <title>BellaSpa</title>
</head>
<body>
<!-- titulo de la pagina  barra lateral -->
<div class="barraTitle">
    <a href="javascript:abrir()"><img src="/img/mostrar.png" alt="imagen mostrar iconos"></a>

    <div class="containerTitle">
        <img src="/img/logo-title.png" alt="imagen mostrar iconos" class="img-logo">
        <h3>BellaSpa</h3>
    </div>

    <div class="containerBarra" id="containerBarra">
        <div class="centrarBarra">
            <div class="container">
                <div class="containerImg">
                    <a href="javascript:cerrar()"><img src="/img/simbolo-cerrar.png" alt="boton cerrar ventana"></a>
                    <p>Visita nuestros sitios</p>
                </div>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Acerca de Nosotros</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- -------------encabezado de la pagina----------------->
<div class="centrarSlider">
    <header>
        <div class="slider">
            <div class="containerSlider">
                <video controls muted>
                    <source src="/videos/publicidad1.mp4" type="video/mp4">
                </video>
                
                <video   controls>
                    <source src="/videos/publicidad2.mp4" type="video/mp4">
                </video>
                
                <video  controls>
                <source src="/videos/publicidad3.mp4" type="video/mp4">
            </video>
            
            <video  controls>
                <source src="/videos/publicidad4.mp4" type="video/mp4">
            </video>
            </div>
        </div>
    </header>
</div>

<!-- -------------cuerpo de la pagina---------------------- -->

<!-- -------------descripcion de la pagina---------------------- -->
<div class="containerDescripcion">
    <h1> "Brilla con Belleza: El Encuentro de Maquillaje de BelleSpa"</h1>
    ¡Bienvenidos al evento más esperado para los amantes del maquillaje y la belleza! Te invitamos a un emocionante y único encuentro que te sumergirá en el mágico mundo del maquillaje, presentado por el emprendimiento "Bellaspa". En este evento, la belleza será la protagonista, y tú serás la estrella.
    
    <h1>Lo que Puedes Esperar:</h1>
    <ul>
        <li>
            <strong>Demostraciones en Vivo:</strong> Nuestros talentosos maquilladores profesionales llevarán a cabo demostraciones en vivo de las últimas tendencias de maquillaje, desde maquillaje de día hasta looks deslumbrantes para la noche. Aprenderás técnicas y trucos para realzar tu belleza personal.
        </li>
        <li>
            <strong>Sesiones Prácticas:</strong> ¡No te preocupes si eres un principiante! Habrá sesiones prácticas donde podrás aplicar lo que has aprendido y recibir asesoramiento personalizado de nuestros expertos.
        </li>
        <li>
            <strong>Productos de Belleza Exclusivos:</strong> Descubre una amplia gama de productos de belleza de "Bellaspa" y otras marcas de renombre. Tendremos un área de compras donde podrás adquirir tus productos favoritos a precios especiales.
        </li>
        <li>
            <strong>Regalos y Premios:</strong> Participa en concursos y sorteos para tener la oportunidad de ganar fabulosos premios, que incluyen productos de belleza y tratamientos en los centros "Bellaspa".
        </li>
        <li>
            <strong>Conexiones Sociales:</strong> Conoce a otros amantes del maquillaje y comparte tus experiencias e ideas. Este es un evento perfecto para construir tu red de contactos en la industria de la belleza.
        </li>
        <li>
            <strong>Degustación de Comida y Bebida:</strong> Disfruta de deliciosos aperitivos y bebidas mientras te relajas y disfrutas del evento.
        </li>
    </ul>

    <!-- cuenta cuentaRegresiva -->
    <div class="cuentaRegresiva" id="cuenta">
    
    </div>
</div>



<!-- noticias -->
<div class="containerNoticias">
    
    <article>
        <h3>La Marca de Maquillaje 'Bellaspa' Lanza una Línea de Productos Inclusiva</h3>
        <img src="/img/noticia2.jpg" alt="imagen noticia numero 2">
        <p>"Bellaspa", una marca líder en la industria del maquillaje, ha anunciado el lanzamiento de una nueva línea de productos de maquillaje inclusivos. Esta línea ha sido cuidadosamente diseñada para satisfacer las necesidades de una amplia variedad de tonos de piel, texturas y preferencias. La marca se compromete a celebrar la diversidad y garantizar que todos se sientan representados y hermosos. Esta noticia es una clara señal de progreso hacia una industria de la belleza más igualitaria.</p>
    </article>
    
    <article>
        <h3>Nuevo Descubrimiento de Ingredientes Naturales para el Maquillaje Sostenible</h3>
        <img src="/img/noticia1.jpg" alt="imagen noticia numero 1">
        <p>En una emocionante noticia para los amantes del maquillaje y la sostenibilidad, se ha realizado un nuevo descubrimiento que podría revolucionar la industria del maquillaje. Científicos han encontrado una fuente inagotable de ingredientes naturales y sostenibles para productos de belleza. Estos ingredientes, provenientes de plantas locales, prometen ofrecer una alternativa ecológica y ética a los ingredientes convencionales. Esta noticia representa un paso importante hacia un futuro.</p>
    </article>

    <article>
        <h3>Maquilladores Benefician a Organizaciones de Caridad en un Evento Especial</h3>
        <img src="/img/noticia3.jpg" alt="imagen noticia numero 3">
        <p>En un gesto generoso, un grupo de maquilladores y entusiastas del maquillaje se unieron para ofrecer sus servicios de maquillaje de forma gratuita en un evento especial. Este evento recaudó fondos significativos para varias organizaciones benéficas, incluyendo aquellas que apoyan a sobrevivientes de cáncer, a víctimas de violencia doméstica y a niños en situación de vulnerabilidad. Este acto de generosidad demuestra el poder del maquillaje no solo para realzar la belleza, sino también para empoderar y hacer una diferencia positiva en la comunidad.</p>
    </article>
    
</div>

<!-- reservar tiquetes -->
<div class="containerTiquetes">
    <form action="/reserva" method="post">
        <h1>Reservar tiquetes</h1>
        <p>Ingrese su nombre</p>
        <input type="text" name="nombre">
        <p>Ingrese la fecha actual</p>
        <input type="date"  name="fecha">
        <p>Ingrese el numero de tiquetes a reservar</p>
        <input type="number" name="numero"> <br>
        <button type="submit">Reservar tiquete</button>
        <p><%= mensaje %></p>
    </form>
</div>

<!-- mapa de ubicacion  -->
<div class="containerMap">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3971.6007807756505!2d-74.66991890630887!3d5.477360413530678!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e40dedca4615657%3A0x91a277a273284119!2sCentro%20Agro-Pecuario%20Y%20Tecnologico%20MultiSectorialRegional!5e0!3m2!1ses-419!2sco!4v1697159887346!5m2!1ses-419!2sco" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>


<!-- pie de pagina -->
<div class="containerFooter">
    <footer>
        <p>&copy;BellaSpa </p>
        <a href="#" class="logoFacebook">
            <img src="/img/logoFacebook.png" alt="Logo de Facebook" class="facebookLogo">
        </a>
        <a href="#" class="logoWhatsapp">
            <img src="/img/logoWhatsapp.png" alt="Logo de Whatsapp" class="WhatsappLogo">
        </a>
        <a href="#" class="logoInstagram">
            <img src="/img/logoInstagram.png" alt="Logo de Instagram" class="InstagramLogo">
        </a>
    </footer>
</div>



<script src="/statics/index.js"></script>


<script src="/style/style.js"></script>
</body>
</html>
